*{
	margin: 0;
	padding: 0;
	font-family: system-ui;
}

body {
	background: linear-gradient(to top left, #3d4652, #131a24);
}

#about {
	display: inline;
	text-align: center;
}

#about h1, h4, p {
	color: white;
}

.head {
	margin-bottom: 30px;
	position: static;
	width: 100%;
	height: 50px;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

#started {
	border: 1px solid lightblue;
	border-radius: 12px;
	padding: 10px;
	color: white;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

#email {
	color: lightblue;
}

#set {
	margin-top: 130px;
}

#bar-logo {
	position: absolute;
	width: 40px;
	top: 5px;
	left: 13px;
}

#login-link {
	position: absolute;
	width: 50px;
	top: 11.5px;
	right: 131px;
}

#about-link {
	position: absolute;
	width: 40px;
	top: 11.5px;
	right: 91px;
}

#signup-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 10px;
}


#logout-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 10px;
}

#threadweb-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 98px;
}

#create-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 154px;
}

#profile-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 210px;
}

#vote-link {
	position: absolute;
	width: 70px;
	top: 11.5px;
	right: 254px;
}


.logo-banner {
	padding-top: 210px;
	text-align: center;
	position: static;
  	left: 50%;
  	color: white;
}

.logo-banner img {
	position: static;
  	left: 50%;
	width: 40px;
}

.logo-banner p {
	padding-bottom: 10px;
	font-size: 12;
}

#cred {
	margin: 5px;
	position: static;
  	left: 50%;
  	font-size: 6;
}

.sign-in-form {
	position: relative;
	width: 400px;
	height: 500px;
	left: 50%;
	margin-left: -200px;
	top: 150px;
	text-align: center;
	color: white;
}

.sign-in-form p {
	margin-top: 8px;
	color: #ff696e;
}

.settings {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh; /*  */
	flex-direction: column;
	text-align: center;
}

#upsub {
	width: 150px;
}

.forgot-pass {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh; /*  */
	flex-direction: column;
	text-align: center;
}

.forgot-pass form {
	width: 300px;
}

.forgot-password p {
	margin-top: 8px;
	color: #ff696e;
}

input {
	margin-bottom: 10px;
	padding: 0.14em 0.25em;
	width: 50%;
	background: transparent;
	color: #AFB5BB;
	font-size: 0.80em;
	text-align: center;
	border-radius: 10px;
}

textarea {
	margin-bottom: 10px;
	padding: 0.14em 0.25em;
	width: 70%;
	background: transparent;
	color: #AFB5BB;
	font-size: 0.80em;
	text-align: center;
	border-radius: 10px;
}

input[type=submit] {
	margin-top: 12px;
	text-align: center;
	width: 37%;
	border-radius: 5px;
}

#link {
	margin-top: 8px;
	color: #cfe5ff;
}

.flash {
	position: relative;
	width: 400px;
	height: 50px;
	left: 50%;
	margin-left: -200px;
	top: -7px;
	text-align: center;
	color: white;
}

.flash p {
	border: 1px solid #ff575f;
	border-radius: 12px;
	background: rgba(255, 196, 199, 0.2);
	position: relative;
	width: 400px;
	height: 50px;
	left: 50%;
	margin-left: -200px;
	top: -7px;
	text-align: center;
	color: red;
}

.profile {
	position: relative;
	border: 2px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 500px;
	left: 50%;
	margin-left: -200px;
	top: 10%;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.profile h1 {
	border: 2px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -202px;
	text-align: center;
	color: #bfe8ff;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

.threads {
	position: relative;
	top: 12%;
}

.thread {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border: 2px solid #00a1ff;
	border-radius: 32px;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
	text-align: center;
}

.accepted-thread {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border: 2px solid #ffd84a;
	border-radius: 32px;
	background: linear-gradient(to top left, #d9bb4c, #b59316);
	text-align: center;
}

.threads h2{
	color: white;
}

.btn {
	background-color: transparent;
  	border: none;
  	color: white;
  	padding: 12px 16px;
  	font-size: 16px;
  	cursor: pointer;
}

.post-new form {
	text-align: center;
	position: relative;
	bottom: -10px;
}

.post-new input[type=submit] {
	color: white;
	width: 200px;
	height: 50px;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

input[type=submit] {
	color: white;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

#post-box {
	position: relative;
	bottom: -75px;
}

#post-box textarea {
	resize: none;
	height: 60;
	text-align: left;
	height: 60px;
}

.create {
	margin-bottom: 340px;
	border: 2px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 230px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	top: 5%;
	text-align: center;
}

.create h1 {
	border: 2px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -202px;
	text-align: center;
	color: #bfe8ff;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

.create h4 {
	position: relative;
	text-align: center;
	top: 62px;
	color: white;
}


::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#no-thread {
	color: gray;
	position: relative;
	bottom: -160px;
}

.vote {
	margin-bottom: 340px;
	border: 0px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 210px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	top: 5%;
	text-align: center;
}

.vote h1 {
	border: 2px solid #00a1ff;
	border-radius: 32px;
	width: 400px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -202px;
	text-align: center;
	color: #bfe8ff;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
}

.votethreads {
	position: relative;
	top: 25%;
}

.votethread {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border: 2px solid #00a1ff;
	border-radius: 32px;
	background: linear-gradient(to top left, #5fadd9, #0b8bd4);
	text-align: center;
}

#username {
	color: lightgray;
}

.threadweb {
	position: relative;
	border: 2px solid #ffd84a;
	border-radius: 32px;
	width: 400px;
	height: 500px;
	left: 50%;
	margin-left: -200px;
	top: 10%;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.threadweb h1 {
	border: 2px solid #ffd84a;
	border-radius: 32px;
	width: 400px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -202px;
	text-align: center;
	color: #bfe8ff;
	background: linear-gradient(to top left, #d9bb4c, #b59316);
}

.threadweb-threads {
	position: relative;
	top: 12%;
}

.threadweb-thread {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border: 2px solid #ffd84a;
	border-radius: 32px;
	background: linear-gradient(to top left, #d9bb4c, #b59316);
	text-align: center;
}

.threadweb-threads h2{
	color: white;
}

#govote {
	border: 1px solid lightblue;
	border-radius: 12px;
	padding: 10px;
	color: white;
	background: linear-gradient(to top left, #d9bb4c, #b59316);
}
