<DOCTYPE html>

<html>
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/mainstyle.css')}}"/>
		<title>Authentication Test</title>
	</head>

	<body id="body">

		<div class="sign-in-form">
			<h1>Sign in</h1><br>
			<form action='/signin' method='post'>
				<input placeholder='Username' name='username'><br>
				<input type="password" placeholder='Password' name='password'><br>
				<input type="submit" value="Sign in">
			</form>
			<a href='/signup'>Don't have an account? Create one!</a>
		</div>

	</body>


</html>